.form {
    max-width: 60rem;
    margin: 0 auto;
    font-size: 1.5rem;
}

.form>div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form label {
    margin: 1rem 0;
    display: block;
}

.primary {
    background-color: grey;
    color: white;
    font-size: 1.5rem;
    border-radius: .5rem;
    padding: 0.5rem;
}