html {
    font-size: 62.5%;
    /* 16px*62.5 = 10px = 1rem */
    box-sizing: border-box;
}

body {
    font: 1.6 rem;
    /* =16px */
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.header {
    grid-area: header;
    display: flex;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.brand {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.brand a {
    color: white;
    font-weight: bold;
}

.header-user-name {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 3rem;
}

.header-links {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.header-links a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.header-links:hover {
    color: orange;
    display: block;
}

.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
}

.dropdown-content a:hover {
    /* background-color: white; */
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    /* background-color: white; */
    color: black;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 1rem;
}


/* Home Screen */

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products li {
    list-style-type: none;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 70rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid grey;
    border-radius: 4rem;
    padding-bottom: 2rem;
    opacity: 1;
    animation: fadeIn 5s ease;
}

.product-image,
.product-image img {
    display: flex;
    width: 25rem;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 1;
    animation: fadeIn 5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.product-name {
    font: bold;
    color: black;
    text-align: center;
}

.product-name a {
    font-size: 3rem;
    font-weight: bold;
    color: grey;
    padding: 0.5rem;
}

.product-place {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: grey;
}

.product-list {
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 1rem;
    color: grey;
}

.product-list-li {
    padding-left: 3rem;
}


/* .product-type {
    font-size: 2rem;
    padding-left: 2rem;
    color: grey;
}

.product-type-li {
    font-size: 2rem;
    padding-left: 1rem;
    color: grey;
} */


/* Side Bar */

.brand button {
    font-size: 3rem;
    padding: 0.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.brand button:active {
    border: none;
}

.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    height: 100%;
}

.sidebar.open {
    transform: translateX(0);
    background-color: transparent;
    transform: translatey(5rem);
    transition-duration: 2s;
    transition-property: initial;
}

.sidebar-button {
    transform: translateX(0);
    width: 30rem;
    height: 5rem;
    cursor: pointer;
    text-align: left;
    background-color: grey;
    color: white;
    border-color: white;
}